<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
		Your conversations
				<div class="container">
					<% @conversations.each do |conversation| %>
						<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>

						<%= link_to conversation_messages_path(conversation) do %>

							<div class="row conversation">
								<div class="col-md-2">
									<% if @other.image? %>
                  <%= image_tag other.image, class: "img-circle avatar-small" %>
                  <% else %>
                  <%= image_tag other.avatar, class: "img-circle avatar-small" %>
                  <% end %>
								</div>
								<div class="col-md-2">
									<%= other.fullname %><br>
									<%= conversation.messages.last.message_time %>
								</div>
								<div class="col-md-8">
									<%= conversation.messages.last.body %>
								</div>
							</div>

						<% end %>
					<% end %>
				</div>
		</div>

		<h3>All Users</h3>
		<% @users.each do |user| %>
			<% if user != current_user %>
				<%= user.fullname %>
				<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
			<% end %>
			<br>
		<% end %>

	</div>
</div>
