<div class="row">
	<div class="col-md-12 text-center">

		Your conversations
	</br>
</br>

<div class="panel panel-default">

	<div class="container">
		<% @conversations.each do |conversation| %>
		<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>

		<%= link_to conversation_messages_path(conversation) do %>

		<div class="row conversation">
			<div class="col-md-2">
				<%= image_tag other.avatar(:thumb), class:"img-circle conversation-image" %>
			</div>
			<div class="col-md-2">
				<%= other.fullname %><br>
				<%= conversation.messages.last.message_time %>
			</div>
			<div class="col-md-8">
				<%= conversation.messages.last.body %>
			</div>
		</div>

		<% end %>
		<% end %>
	</div>
</div>
</div>
</div>
