<!--I notice if I log out, I am still allowed to be on the main index page - I don't think this is intentional.  -->
<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
	    <li class="sidebar-item"><%= link_to "Your Listings", spaces_path, class: "sidebar-link" %></li>
	    <li class="sidebar-item"><%= link_to "Current hostings", your_reservations_path, class: "sidebar-link active" %></li>
	    <li class="sidebar-item"><%= link_to "List a space", new_space_path, class: "sidebar-link active" %></li>
	  </ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">

				<% @spaces.each do |space| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag space.photos[0].image.url(:thumb) if space.photos.length > 0 %>
						</div>
						<div class="col-md-7">
							<h4><%= link_to space.title, space %></h4>
						</div>
						<div class="col-md-3 right">
							<%= link_to "Update", edit_space_path(space), class: "btn btn-primary" %>
						</div>
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>
