
      <%= form_for ([@space, @space.reservations.new]) do |f| %>
      <%= f.text_field :start_date, placeholder: "Start Date", class: "form-group" %>
      <%= f.text_field :end_date, placeholder: "End Date", class: "form-group" %>
      <%= f.hidden_field :space_id, value: @space.id %>
      <%= f.hidden_field :price, value: @space.price %>
      <%= f.hidden_field :total, id: 'reservation_total' %>
      <h1>Total: <%=  %></h1>


      <%= f.submit "Book Space", class: "btn btn-primary" %>
      <% end %>

      <script>
        $(function(){
          $('#reservation_start_date').datepicker({
            dateFormat: 'dd-mm-yy'
          });
          $('#reservation_end_date').datepicker({
            dateFormat: 'dd-mm-yy'
          });
        });
      </script>
