<div class="row">
<div class="col-md-3">
  <ul class="sidebar-list">
    <li class="sidebar-item"><%= link_to "Rentals", rentals_path, class: "sidebar-link" %></li>
    <li class="sidebar-item"><%= link_to "Rent a space", class: "sidebar-link" %></li>
  </ul>
</div>

  <div class="col-md-9">
    <div class="row">
            <h4>Your Rentals</h4>
          <div class="panel-body">
              <% @rentals.each do |f| %>
                <div class="row">
                    <div class="col-md-3">
                      <div class="row">
                        <b>Rental date(s):</b>
                      </div>
                      <%= f.start_date.strftime('%v') %>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <b>Picture:</b>
                      </div>
                      <%= link_to space_path(f.space) do %>
                      <%= image_tag f.space.photos[0].image.url(:thumb) %>
                      <% end %>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <b>Host:</b>
                      </div>
                      <%= link_to user_path(f.space.user) do %>
                      <%= link_to f.space.user.fullname, user_path(f.space.user) %>
                      <%= image_tag f.space.user.avatar(:thumb)%>
                      <% end %>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <b>Total:</b>
                      </div>
                      <h4>$ <%= f.total %></h4>
                    </div>
                </div>
              <% end %>
            </div>
    </div>
</div>
