
<div class="row">
  <div class="col-md-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <% if @all_photos %>
      <ol class="carousel-indicators">
        <% @all_photos.each do |photo| %>
        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
        <% end %>
      </ol>
      <% end %>

      <div class="carousel-inner" role="listbox">
        <% if @all_photos %>
        <% @all_photos.each do |photo| %>
        <div class="item <%= 'active' if photo.id == @all_photos[0].id %>">
          <%= image_tag photo.image.url(), class: "large" %>
        </div>
        <% end %>
        <% end %>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <% @spaces.each do |space| %>
  <div class="col-md-4">
    <%= image_tag space.photos[0].image.url(:medium) if space.photos.length > 0 %><br>
    <%= link_to space.title, space %><br><br>

  </div>
  <% end %>

</div>
