<!DOCTYPE html>
<html>
    <head>
        <title>Muststache</title>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'shared/navbar' %>
        <div class="row">
        <div class="col-md-6 col-md-offset-1 text-center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>

    <footer><%= link_to "Our Team", '/about' %></footer>

    </body>
</html>
